In [1]:
import  pandas  as pd
import  numpy  as np
import  matplotlib.pyplot  as plt

In [2]:
# An dictionary about my favorite food

data = {
    'vegtable' : [
        'carrots' , 'celery' , 'cabbage' ,
        'garlic' , 'okra' , 'corn' ,
        'broccoli' , 'lettuce' , 'potato'
    ],
    'fruit' : [
        'orange', 'grape', 'kiwi',
        'Papaya', 'Banana','Lechee', 
        'peach',  'lemon' , 'mango'
    ]
}

In [3]:
lunch = pd.DataFrame(
    data ,
    columns = [
        'vegtable','fruit'
    ]
)

lunch

   vegtable   fruit
0   carrots  orange
1    celery   grape
2   cabbage    kiwi
3    garlic  Papaya
4      okra  Banana
5      corn  Lechee
6  broccoli   peach
7   lettuce   lemon
8    potato   mango